<section id="contact-info">
    <div class="center">
        <h2>@Resources.Contact.Gmap.MapTitle</h2>
        <p class="lead">@Resources.Contact.Gmap.MapContent</p>
    </div>
    <div class="gmap-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 text-center">
                    <div class="gmap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18994.77014967692!2d26.151350739740366!3d44.95201279688148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b2336f68c40b23%3A0xa1d7db32baca1b5e!2zVmFsZWEgQ8SDbHVnxINyZWFzY8SD!5e0!3m2!1sro!2sro!4v1473691623832" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-7 map-content">
                    <ul class="row">
                        <li class="col-sm-6">
                            <address>
                                <h5>@Resources.Contact.Gmap.Office1Name</h5>
                                <p>1537 Flint Street
                                   Tumon, MP 96911
                                </p>
                                <p>Phone:670-898-2847
                                   Email Address:info@domain.com
                                </p>
                            </address>
                            <address>
                                <h5>Zonal Office</h5>
                                <p>1537 Flint Street
                                   Tumon, MP 96911
                                </p>
                                <p>Phone:670-898-2847
                                   Email Address:info@domain.com
                                </p>
                            </address>
                        </li>

                        <li class="col-sm-6">
                            <address>
                                <h5>Zone#2 Office</h5>
                                <p>1537 Flint Street
                                   Tumon, MP 96911
                                </p>
                                <p>Phone:670-898-2847
                                   Email Address:info@domain.com
                                </p>
                            </address>
                            <address>
                                <h5>Zone#3 Office</h5>
                                <p>1537 Flint Street
                                   Tumon, MP 96911
                                </p>
                                <p>Phone:670-898-2847
                                   Email Address:info@domain.com
                                </p>
                            </address>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>  <!--/gmap_area -->