<section id="content" class="shortcode-item">
    @Html.Partial("Tab")
</section><!--/#content-->

@Html.Partial("Pricing")

<section id="recent-works" class="shortcode-item">
    @Html.Partial("Gallery")
</section><!--/#portfolio-->